* {
    font-family: Cambria;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
}

.about-me {

}

.about-me img{
    float: left;
    max-width: 50%;
    height: auto;
}
