* {
    font-family: Cambria;
    margin: 0;
}

h1 {
    text-align: center;
    background-image: url("./USA-UT-saltlakecity-500.jpg");
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
}

/*About Me Section*/

.about-me {
}

.about-me img{
    float: left;
    max-width: 10%;
    height: auto;
}

.about-me p {
    padding: 0 15 0, 15;
}

/*Projects Area*/

.projects {

}

.run-buddy  {
    display: flex;
}

.run-buddy img {
    padding: 0 5% 0 5%;
    max-width: 90%;
    height: auto;
}

.coming-soon{
}


.coming-soon img {
    display: flex;
}

/*Contact Me Section*/

.contact-me {
    background-color: skyblue;
    color: whitesmoke;
}

.contact-me h2 {
    padding: 15px 0 0 50px;
}

.contact-me-flexbox{
    display: flex;
}

.contact-me-flexbox address {
    float: left;
    padding: 0 0 0 50px;
}

.contact-me-flexbox p {
    float: right;
    padding: 0 50px 0 0;
}
