* {
    font-family: Cambria;
    margin: 0;
}

header {
    text-align: center;
    padding: 50px 0 50px 0;
    background-color: skyblue;
}

nav {
    text-align: center;
    background: lightblue;
}

nav ul li {
    list-style: none;
    font-size: 20px;
}

/*About Me Section*/

.about-me {
    background-image: url(./USA-UT-saltlakecity-500.jpg);
    width: 100%;
    z-index: 0;
    background-size: cover;
    
}

.about-me img{
    float: left;
    max-width: 8%;
    height: auto;
}

.about-me p {
    padding: 0 15 0, 15;
}

/*Projects Area*/

.projects {
    background-color: lightblue;
}

.projects h2 {
    text-align: center;
    padding: 15px 0 15px 0;
}

.run-buddy  {
    display: flex;
    background-color: lightblue;
}

.run-buddy img {
    padding: 0 5% 0 5%;
    max-width: 90%;
    height: auto;
}

.coming-soon{
    display: flex;
    flex-direction: row;
    background-color: lightblue;
}

.coming-soon-1{
    max-width: 45%;
    height: auto;
    padding: 0 0% 5% 5%;
}

.coming-soon-2 {
    max-width: 45%;
    height: auto;
    padding: 0 5% 5% 0%;
}

/*Contact Me Section*/

.contact-me {
    background-color: skyblue;
    color: whitesmoke;
}

.contact-me h2 {
    padding: 15px 0 0 50px;
}

.contact-me-flexbox{
    display: flex;
}

.contact-me-flexbox address {
    float: left;
    padding: 0 0 15px 50px;
}

.contact-me-flexbox p {
    float: right;
    padding: 0 50px 15px 0;
}
